.articleSlider_component{
    width: 80%;
    height: 300px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}
.articleSlider_container{
    display: flex;
    height: 70%;
    align-items: center;
    background-color: lightgrey;
    padding: 20px 15px;
    border-radius: 25px;
    margin-top: 10px;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}



.articleCard{
    cursor: pointer;
    width: 25%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.articleMovementBtns{
    background-color: rgba(30, 70, 130, 1);
    width: 30px;
    height: 100px;
    border: none;
    cursor: pointer;
    position: absolute;
    color: whitesmoke;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 4px 4px 4px black;
    top:75px;
    transition: scale 0.2s ease;
}
#articleMovementBtn_left{
    left: -10px;
}
#articleMovementBtn_right{
    right: -10px;
}
.articleMovementBtns:hover{
    box-shadow: 0 0 5px grey;
    scale: 1.1;
    color:rgb(55, 120, 218);
}
.articleMovementBtns:active{
    scale:0.9;
}
