
#helpDeskDiv{
    margin: auto;
    width: 60%;
    height: 200px;
    border-bottom: 2px dashed rgba(30, 70, 130, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}