.alertBeforePay{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: calc(50vw - 200px);
    background-color: whitesmoke;
    border-top: 2px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    box-shadow: 4px 6px 15px black;
    border-radius: 14px;
    z-index: 1000000;
}
.alertBeforePay_btn{
    cursor: pointer;
    width: 75px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}