.productComp_mainContainer{
    width: 350px;
    height: 350px;
    border: 1px solid rgba(30, 70, 130, 1);
    border-radius: 15px;
    margin: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.productComp_mainContainer:hover{
    box-shadow: 0 0 5px grey;
}
.productComp_subContainer{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.moreInfo{
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: white;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    box-shadow: 0 0 5px grey;
    z-index: 20;
}
.moreInfo:hover{
    background-color: rgba(30, 70, 130, 1);
    color: white;
}
.productComp_logo{
    width: 250px;
    height: 200px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.productComp_logo:hover{
    scale: 1.1;
}
.productComp_name{
    width: 250px;
    height: 30px;
    margin: 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.productComp_priceDiv{
    width: 250px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.productComp_cartBtn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
    border-radius: 35%;
    
}
.productComp_cartBtn:hover{
    box-shadow: 0 0 3px grey;
}
.productComp_price{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.onSaleMsg{
    position: absolute;
    bottom: 10px;
    background-color: rgba(50, 90, 150, 1);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
}